{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}  single-blog">{{ content_top }}
      {% if blogs.image %}
      <div class="blog-img">
        <img src="{{ blogs.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
      </div>
      {% endif %}
      <h2 class="page-title">{{ heading_title }}</h2>
      <p> {{ description }} </p>
      {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      {% if blog_comments %}
      <h4>{{ text_your_comments }}</h4>
      {% for blog_comment in blog_comments %}
      <div class="view-comment">
        <div class="panel panel-default" style="margin-bottom: 10px; padding-top: 5px;">
          <div class="row">
            <div class="form-group">
              <label class="col-sm-3 control-label text-right"><b>{{ entry_author }}</b></label>
              <div class="col-sm-3">{{ blog_comment.author }}</div>
              <label class="col-sm-3 control-label text-right"><b>{{ text_date_added }}</b></label>
              <div class="col-sm-3">{{ blog_comment.date_added }}</div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-3 control-label text-right"><b>{{ entry_comment }}</b></label>
              <div class="col-sm-8">{{ blog_comment.comment }}</div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if allow_comments %}
      <div class="block-title">
        <h3>{{ button_comment_add }}</h3>
      </div>
      <div class="panel panel-default" id="add-comment" style="margin-bottom: 10px; padding: 0px 10px;">
        {% if login_required and not is_logged %}
        <h4 class="text-center">{{ text_login_required }}</h4>
        {% else %}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group required" style="margin-top: 10px;">
            <label class="col-sm-3 control-label" for="input-author"><b>{{ entry_author }}</b></label>
            <div class="col-sm-8">
              <input type="text" name="author" value="{{ author }}" id="input-author" placeholder="{{ entry_author }}"
                class="form-control" />
              {% if error_author %}
              <div class="text-danger">{{ error_author }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required" style="margin-top: 10px;">
            <label class="col-sm-3 control-label" for="input-email"><b>{{ entry_email }}</b></label>
            <div class="col-sm-8">
              <input type="text" name="email" value="{{ email }}" id="input-email" placeholder="{{ entry_email }}"
                class="form-control" />
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group" style="margin-top: 10px;">
            <label class="col-sm-3 control-label" for="input-comment"><b>{{ entry_comment }}</b></label>
            <div class="col-sm-8">
              <textarea name="comment" rows="10" id="input-comment" class="form-control" />{{ comment }}</textarea>
              {% if error_comment %}
              <div class="text-danger">{{ error_comment }}</div>
              {% endif %}
            </div>
          </div>
          {{ captcha }}
          <input type="hidden" name="auto_approve" value="{{ auto_approve }}" />
          <div class="buttons text-right"><input class="btn btn-primary" type="submit" value="{{ button_submit }}"
              data-toggle="tooltip" title="{{ button_submit }}" /></div>
        </form>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {{ content_bottom }}</div>
  {{ column_right }}
</div>
</div>
{{ footer }}