<footer>
	<div id="footer">
		<div class="footer-top">
			<div class="container">
				{{ footer_top }}
			</div>
		</div>
		<div class="footer-center-content">
			<div class="container">
				<div class="row">
					<div class="footer-left column col-md-3 col-lg-3 link-block first">
						<div class="footer_logo">
							<div id="logo">
								{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}"
										alt="{{ name }}" class="img-responsive" /></a>{% else %}
								<h1><a href="{{ home }}">{{ name }}</a></h1>
								{% endif %}
							</div>
						</div> {{ footer_left }}
					</div>
					<div class="col-md-6 col-lg-6 column common link-block third ">
						<h5>{{ text_account }}</h5>
						<ul class="list-unstyled">
							<li><a href="{{ account }}">{{ text_account }}</a></li>
						</ul>
					</div>
					<div class="column fourth footer-right col-md-3 col-lg-3">{{ footer_right }}</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				{{ footer_bottom }}
			</div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body>

</html>